body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

/* ENCABEZADO */

.encabezado{
    background:linear-gradient(135deg,#003c8f,#005bea,#007bff);
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
    padding:30px;
    text-align:left;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.logo-normal img{
    width:140px;
    height:140px;
    border-radius:50%;
    border:5px solid white;
    object-fit:cover;
    box-shadow:0 0 20px rgba(255,255,255,0.7);
}

.texto-header h1{
    font-size:50px;
    margin:0;
}

.texto-header h2{
    font-size:30px;
    margin-top:10px;
    color:#dbe9ff;
}

.texto-header p{
    font-size:20px;
    margin-top:10px;
}

/* RESPONSIVE CELULAR */

@media(max-width:768px){

    .encabezado{
        flex-direction:column;
        text-align:center;
    }

    .texto-header h1{
        font-size:35px;
    }

    .texto-header h2{
        font-size:24px;
    }

    .logo-normal img{
        width:110px;
        height:110px;
    }

}
.contenedor{
    width:90%;
    margin:auto;
}

.carpeta{
    background:white;
    margin-top:30px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.galeria{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

.galeria img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.galeria img:hover{
    transform:scale(1.05);
}

.modal{
    display:none;
    position:fixed;
    z-index:1000;
    padding-top:50px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
}

.modal img{
    display:block;
    margin:auto;
    max-width:80%;
    max-height:80%;
    border-radius:20px;
}

#cerrar{
    position:absolute;
    top:20px;
    right:40px;
    color:white;
    font-size:50px;
    cursor:pointer;
}
