*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{

    height:100vh;

    background-image:
    linear-gradient(rgba(0,0,0,0.55),
    rgba(0,0,0,0.55)),
    url("https://lh3.googleusercontent.com/d/1m2TNf2Zw0LyQ4OC9rk06dUzEHOG4fdyJ");
    
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.overlay{

    width:90%;
    max-width:1200px;

    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(8px);

    border-radius:30px;

    padding:50px;

    text-align:center;

    border:2px solid rgba(255,255,255,0.2);

    box-shadow:0 10px 30px rgba(0,0,0,0.4);

    animation:aparecer 1s ease;
}

/* ESCUDO */

.escudo{

    width:180px;

    margin-bottom:25px;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.4);
}

/* TEXTOS */

h1{

    color:white;

    font-size:55px;

    font-weight:bold;

    margin-bottom:10px;

    text-shadow:0 0 15px rgba(0,0,0,0.6);
}

h2{

    color:#dbe9ff;

    font-size:30px;

    margin-bottom:25px;
}

h3{

    color:#ffffff;

    font-size:45px;

    line-height:1.3;

    margin-bottom:25px;

    text-transform:uppercase;
}

.super{

    color:#ff4d4d;

    font-size:42px;

    font-weight:bold;

    margin-bottom:10px;
}

.casita{

    color:white;

    font-size:30px;

    margin-bottom:40px;

    letter-spacing:2px;
}

/* BOTÓN */

.boton{

    display:inline-block;

    padding:22px 45px;

    background:#005bea;

    color:white;

    text-decoration:none;

    font-size:28px;

    border-radius:60px;

    transition:0.4s;

    box-shadow:0 8px 20px rgba(0,0,0,0.35);

    font-weight:bold;
}

.boton:hover{

    background:#003c8f;

    transform:scale(1.08);
}

/* ANIMACIÓN */

@keyframes aparecer{

    from{

        opacity:0;
        transform:translateY(40px);
    }

    to{

        opacity:1;
        transform:translateY(0);
    }
}

/* RESPONSIVE */

@media(max-width:768px){

    h1{
        font-size:34px;
    }

    h2{
        font-size:22px;
    }

    h3{
        font-size:28px;
    }

    .super{
        font-size:30px;
    }

    .casita{
        font-size:22px;
    }

    .boton{

        font-size:20px;

        padding:18px 30px;
    }

    .escudo{

        width:130px;
    }

    .overlay{

        padding:30px 20px;
    }

}
